@media (max-width: 870px){
    .time{    
        &_img{
            &_2{
                display: none;
            }
            display: none;
            &_mobile{
                display: flex;
                padding-top: 0px;
                padding-left: 0;
                justify-content: center;
            }
        }
        }
    }

@media (max-width: 765px){
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        &_welcome{
            width: 100%;
            text-align: center;
            font-size: 32px;
            line-height: 39px;
        }
        &_text{
            text-align: center;
            width: 100%;
            font-size: 14px;
            line-height: 22px;
        }
    }
    .game{
        flex-direction: column;
        align-items: center;
        &_img{
            width: 343px;
            height: 300px;
            
        }
    }
    .time{
        flex-direction: column;
        gap: 64px;
        padding-bottom: 64px;
        padding-top: 0px;
        &_in{
            width: 100%;
            align-items: center;
            &_year{
                font-size: 32px;
                line-height: 39px;
            }
            &_text{
                text-align: center;
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
    .reverse{
        flex-direction: column-reverse;
    }
    .footer{
        align-items: flex-start;
        &_in{
            width: 100%;
            align-items: center;
            &_year{
                font-size: 32px;
                line-height: 39px;
            }
            &_text{
                text-align: center;
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
}