*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' , sans-serif;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.header{
    background-image: url(img/background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1024px;
    &_welcome{
        width: 788px;
        padding-top: 217px;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: #FFFFFF;
    }
    &_text{
        width: 481px;
        font-weight: 300;
        padding-top: 32px;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        &_the{
            font-weight: 600;
        }
    }
}
.subscribe{
    margin-top: 44px;
    background: #9C0332;
    box-sizing: border-box;
    border-radius: 20px;
    width: 234.06px;
    height: 48.6px;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    transition: all 0.5s;
    &:hover{
        transform: scale(1.2);
    }
}
.game{
    background: #000915;
    display: flex;
    gap: 32px;
    padding-top: 128px;
    padding-bottom: 128px;
    &_text{
        padding: 32px;
    }
    &_img{
        font-weight: 600;
        font-size: 24px;
        width: 379px;
        height: 300px;
        color: #FFFFFF;
        display: flex;
        flex-direction: column-reverse;
        gap: 32px;
        border-radius: 30px;
        transition: all 0.5s;
        &:hover{
            transform: scale(1.07);
        }
    }
    &_clice{
        background-image: url(img/game1.png);
        &_two{
            background-image: url(img/game2.png);
        }
        &_three{
            background-image: url(img/game3.png);
        }
    }
}
.time{
    background-color: rgba(0, 9, 21, 1);
    padding-top: 233.5px;
    padding-bottom: 282px;
    display: flex;
    flex-direction: row;
    &_in{
        width: 584px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
        &_year{
            font-weight: 700;
            font-size: 48px;
            line-height: 59px;
            color: #FFFFFF;
        }
        &_text{
            font-weight: 300;
            font-size: 18px;
            line-height: 32px;
            color: #FFFFFF;
        }
        &_play{
            margin: 0;
        }
    }
    &_img{
        padding-left: 138px;
        &_2{
            padding: 0px;
            padding-right: 135px;
        }
        &_mobile{
            display: none;
        }
    }
}
.footer{
    background-image: url(img/backgroundFooter.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px; 
    display: flex;
    justify-content: center;   
    align-items: center;
        &_in{
            width: 584px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 32px;
        align-items: center;
        &_year{
            font-weight: 700;
            font-size: 48px;
            line-height: 59px;
            color: #FFFFFF;
        }
        &_text{
            text-align: center;
            font-weight: 300;
            font-size: 18px;
            line-height: 32px;
            color: #FFFFFF;
        }
    }
}
.downSite{
    height: 80px;
    background-color: rgba(0, 9, 21, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    &_text{
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
    }
}

@import 'mobile'